.hero {
    background-image: url(../images/header_logo/Group\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    height: 95vh;
    margin: 15PX;
    @media (max-width:768px) {
        max-height: 40vh;
    }
}