$corDeFundo: rgb(232, 231, 231);
$corFundoSecundario: #d5c1cd;
$corDeTexto: rgb(0, 0, 0);
$corDoButton: rgb(232, 231, 231);
$corButtonPrimario: #c9c6ce;
$corDeFundoSecundario: rgb(0, 0, 0);
$corDeTextoSecundario: white;