@use './header';
@use './variaveis';
@use './curiosity';
@use './hero';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize:16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}